<!DOCTYPE html>
<html ng-app="listaMateriaisApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="lista-tarefas.js"></script>
  <link rel="stylesheet" href="lista-tarefas.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


  <title>Stefanini</title>
</head>

<body>

  <div class="mx-auto m-5 jumbotron" style="width:500px;">

    <h2 class="font-weight-bold">Materiais de Construção</h2>

    <div ng-controller="listaMateriaisController  as vm">
      <hr class="my-4">
      <div class="mb-2">
        Restam {{vm.restam()}} de {{vm.materiais.length}}
        [<a href="" ng-click="vm.arquivar()">arquivar</a>]
      </div>

      <ul class="unstyled">
        <li ng-repeat="mtr in vm.materiais">
          <input type="checkbox" ng-model="mtr.feito">
          <span class="feito-{{mtr.feito}}">{{mtr.text}}</span>
        </li>
      </ul>

      <form ng-submit="vm.addMaterial()" class="form-inline">
        <div class="form-group">
          <input ng-model="vm.materialText" size="30" type="text" class="form-control" placeholder="novo material">
          <input type="submit" class="btn btn-primary ml-2" value="Lembrar">
        </div>
      </form>

    </div>

  </div>

</body>

</html>